---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

#chart_container {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
#chart {
  float: left;
}
#legend {
  float: left;
  margin-left: 15px;
}
#offset_form {
  float: left;
  margin: 2em 0 0 15px;
  font-size: 13px;
}
#y_axis {
  float: left;
  width: 40px;
}
.wrapper {
  width: 100%;
  max-width: 2000px;
}

.onoffswitch {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#balkendiagramm_saison {
  margin-top: 60px;
}
#balkendiagramm_ueberschuss {
  margin-top: 60px;
}

.infobox {
  background: #F5F5F5;
  height: auto;

}
.site-header {
  border-top: none;
}
.page-content {
  padding-top: 10px;
}


@media (min-width: 1px) {
  .site-title {
    font-size: 18px;
  }
  .infobox h3 {
    font-size: 18px;
  }
  .infobox {
    padding-top: 0.5px;
    padding-bottom: 0.5px
  }

}
@media (min-width: 992px) {
  .site-title {
    font-size: 25px;
  }
}