<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/d3.layout.min.js" charset="utf-8"></script>
<script src="js/rickshaw.min.js" charset="utf-8"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="js/jquery-2.2.3.min.js"></script>
<script src="js/jquery-ui.min.js"></script>
<script src="js/data.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>


<script src="js/highcharts.js"></script>
<script src="js/main.js"></script>